<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>M07 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
</head>
<body class="container">
<h2>
My Page
<a href="/new-entry" class="btn btn-primary pull-right">
Click here to go guestbook
</a>
</h2>
